/* Сброс дефолтных стилей */
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit; 
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;  
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* Свои стили */
/* font-family: "Open Sans", sans-serif; */
body {
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(-120deg, #6a85b6 0%, #bac8e0 100%); */
    background-image: linear-gradient(315deg, #3d815f 0%, #53c95d 48%, #83d861 100%);

    font-family: "Open Sans", sans-serif;
    color: whitesmoke;

    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
}

h1 {
    text-wrap-mode: nowrap;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 45px;
    margin-top: 0.5rem;

    text-transform: capitalize;
}

.content-container {
    inset: 0;
    width: 70vw;
    height: 85vh;

    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 5rem;
}

.column {
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: start;
}

/* Поля ввода и вывода текста */
/* Строка с текстом и кнопкой */
.top-line {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 1rem;
}

.left-top-line {
    width: auto;
    height: 55px;
    margin-bottom: 1rem;
}

/* Кнопка копировать */
.copy-icon-container {
    display: flex;
    width: fit-content;
    height: fit-content;

    justify-content: center;

    column-gap: 0.5rem;
    
    transform: translate(0, 10%);
}

.copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;

    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;

    transition: box-shadow 200ms ease-in;
    transition: transform 50ms ease-in;
}

.copied-alert {
    position: fixed;
    transform: translate(80%, 0);
}

.alert-hidden {
    display: none;
}

.copy-icon {
    width: 32px;
    height: 32px;
    filter: invert();
}

.copy-button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
}

.copy-button:active {
    transform: translate(0, 5%);
}

.main-text-area-label {
    font-size: 2rem;
    font-weight: bold;
}

.main-text-field {
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-left: 5px;

    overflow-y: scroll;

    width: 600px;
    height: 320px;

    min-width: 290px;
    min-height: 100px;

    max-width: 660px;
    max-height: 450px;

    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

/* Эффект границы при наведении */
.entry-text:hover, .key-input:hover {
    border: none;
    outline: 2px solid rgb(129, 183, 253);
}

/* Эффект границы при фокусе */
.main-text-field:focus, .key-input:focus, .ciphers-list:focus{
    outline: 2px solid rgb(77, 154, 255);
    border: none;
}

/* Поле ввода ключа шифрования  */
.key-input {
    background-color: white;
    color: black;
    width: 490px;
    height: 40px;
    padding-left: 5px;

    border-radius: 5px;
}

.key-input-disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Список шифров */
.ciphers-list {
    background-color: #fff;
    color: black;
    width: 490px;
    height: 40px;

    cursor: pointer;
}

/* Кнопка подтверждения */
.encrypt_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;

    cursor: pointer;

    background-color: #3d815f;

    /* margin-left: 50%;
    transform: translate(-50%, 0); */

    border: 0 solid;
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.encrypt_button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.encrypt_button:active {
    transform: translate(0, 10%);
}

.encrypt_button span {
    font-weight: bold;
    font-size: 20px;
}

/* Сообщение об ошибке */
.error-message-container {
    width: 490px;
    height: fit-content;
}

.error-message {
    font-size: 20px;
    color: #ff3535;
    font-weight: 500;
}